.nav{
	color:blue;
	font-family: Calibri, sans-serif;
	background-image:url("https://ichef.bbci.co.uk/images/ic/720x405/p0517py6.jpg");
	background-repeat: no-repeat;
	background-color:yellow;
}

.main{
	color:white;
	background-color:black;	
}

.nav,.main{
	font-size: 1.5em;
}
